<div class="header bg-gradient-primary py-7 py-lg-8">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>

<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card-profile-image mt-3">
        <img [src]="'../../../../assets/img/superHeroLogo.png'"class="rounded-circle">
      </div>
      <div class="card bg-secondary shadow border-0 mt-5">
        <div class="card-header bg-transparent">
          <div class="text-muted text-center mt-2">
            <h1>Register as a Hero!</h1>
          </div>
        </div>

        <div class="card-body px-lg-5 py-lg-5">
          <form role="form" [formGroup]="signUpForm">

            <app-input [formGroup]="signUpForm" controlName="heroName" placeholder="Hero Name" errorMessage="* Name should be at least 4 letters"></app-input>
            <app-input [formGroup]="signUpForm" controlName="age" type="number" placeholder="Age" errorMessage="* Enter The Age"></app-input>
            <app-input [formGroup]="signUpForm" controlName="email" type="email" placeholder="Email Address" errorMessage="* Write a valid email"></app-input>

            <app-radio-input [formGroup]="signUpForm" controlName="gender" label="Gender"></app-radio-input>
            <app-form-array-input [formArray]="powers" [parentForm]="signUpForm" controlName="powers" placeholder="Power" (add)="addPower()" (remove)="removePower($event)"></app-form-array-input>

            <app-input [formGroup]="signUpForm" controlName="password" type="password" placeholder="Password" errorMessage="* Password is too weak!"></app-input>
            <app-input [formGroup]="signUpForm" controlName="confirmPassword" type="password" placeholder="Confirm Password" errorMessage="* Passwords don't match!"></app-input>


            <div class="text-center">
              <button type="button" class="btn btn-primary mt-4" (click)="signUp()"
                    [disabled]="!isFormValid() || loading">
                    <ng-container *ngIf="!loading">Create account</ng-container>
                    <i class="fa fa-spin fa-spinner" *ngIf="loading"></i>
              </button>
            </div>
          </form>

        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" routerLink="/login" class="text-light"><small>Login in</small></a>
        </div>
      </div>

    </div>
  </div>
</div>
