

<div class="container-fluid mt--9">


  <div class="row mb-2 d-flex">
    <a  class="btn btn-info mb-2 ml-3" (click)="addHero()">Add Hero</a>

    <div class="col-sm-12 col-md-8 col-lg-6 input-group input-group-alternative ml-auto">
      <input (keyup)="search($event)" class="form-control" id="search" placeholder="Search for a hero" type="text">
    </div>

  </div>

  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0 d-flex">
          <h3 class="mb-0">Heroes List</h3>


        <div class="btn-group btn-group-toggle mr-3 ml-auto" data-toggle="buttons">
          <label class="btn btn-secondary" [ngClass]="{'active': sortBy=='name'}">
            <input type="radio" name="options" id="sort-by-name" autocomplete="off" (click)="sortHeros('name')"> Sort By Name
          </label>
          <label class="btn btn-secondary" [ngClass]="{'active': sortBy=='power'}">
            <input type="radio" name="options" id="sort-by-power" autocomplete="off" (click)="sortHeros('power')"> Sort By Power
          </label>
        </div>


        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Here Name</th>
                <th scope="col">Powers</th>
                <th scope="col">Rate</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let hero of filteredHeroes; let i = index" class="link" (click)="heroDetails(hero)">
                <td>{{hero.name | uppercase}}</td>
                <td>
                  <ng-container *ngFor="let power of hero.powers">
                    <span class="badge badge-primary mr-1 power-badge">{{ power }}</span>
                  </ng-container>
                </td>
                <td [innerHTML]="hero.rate | starRating"></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


