<div class="row justify-content-center pt-6">
  <div class="col-lg-3 order-lg-2">
    <div class="card-profile-image">
      <img [src]="'../../../../assets/img/superhero.png'"class="rounded-circle">
    </div>
  </div>
</div>
<div class="card-header text-center border-0 pt-9 mt-6 pt-md-4 pb-0 pb-md-4">
</div>
<div class="card-body pt-0 pt-md-4">
  <div>

    <!-- Add Hero -->
    <app-create-hero-form *ngIf="!hero && !admin"></app-create-hero-form>

    <!-- Hero Details  -->
    <ng-container *ngIf="hero">
      <app-input [value]="hero.heroName" label="Hero Name"></app-input>
      <app-input [value]="hero.gender=='m'? 'Male': 'Female'" label="Gender"></app-input>
      <app-input [value]="hero.powers" label="Power"></app-input>
      <app-input [value]="hero.rate?hero.rate:0 + ' / ' + 5" label="Rate"></app-input>
    </ng-container>

    <!-- Admin Details  -->
    <ng-container *ngIf="admin">
      <app-input [value]="admin.adminName" label="Admin Name"></app-input>
    </ng-container>

  </div>
</div>
